body{
	background-color: black;
	color: white;
    font-family: 'Teko', sans-serif;
    max-height: 100vh;
    max-width: 100vW;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	line-height: 5%;
	max-width: inherit;
	animation: Zeus 5s;
	margin-top: 30px;
}

a{
	color: inherit;
	text-decoration: none;
}

#text_gradient{
	text-transform: uppercase;
	background: linear-gradient(to bottom, #ff6600 0%, #ffcc00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2{
	font-family: 'Bungee', cursive;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: white;

}

h1{
	font-size: 100px;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 25px;
	color: white;
	position: relative;
	left: 1035px;
	top: -110px;
	max-width: 200px;
}

p{
	text-align: center;
}

.Marty{text-align: left;}
.Marty span{background-color: red;}

.Doc{text-align: right;}
.Doc span{background-color: blue;}

.Doc span,.Marty span{
	padding: 4px;
	margin: 3px;
	border-radius: 5px;
	width: auto;
	word-wrap: break-word;
	line-height: 5px;
}

#dialogue_box{
	max-width: 600px;
	max-height: 25px;
	align-content: center;
	background-color: grey;
	border-color: white;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	padding: 15px;
	margin: auto;
	overflow: hidden;

}

.logo_chat{
	max-height: 100px;
	max-width: auto;
	border: 3px;
	border-color: white;
	border-style: solid;
	border-radius: 100%;
}

section{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-left : 230px;
	margin-right: 230px;
}

/* Animations */
@keyframes Message {

	from {
		transform: translateY(300px);
	}

	100% {
		transform: translateY(-225px);
	}
}

#animation_box{
	animation: Message 20s;
	animation-fill-mode: forwards;

}

@keyframes Zeus {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes ZeusRotate {
		from {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(5deg);
	}

}

header{
	animation: ZeusRotate 1s;
	animation-iteration-count: 10;
	animation-direction: alternate-reverse;
}