body{
	background-color: black;
	color: white;
    font-family: 'Teko', sans-serif;
    max-height: 100vh;
    max-width: 100vW;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	line-height: 5%;
	max-width: inherit;
	animation: Zeus 5s;
	margin-top: 50px;
	margin:auto;
}

a{
	color: inherit;
	text-decoration: none;
}

#text_gradient{
	text-transform: uppercase;
	background: linear-gradient(to bottom, #ff6600 0%, #ffcc00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2{
	font-family: 'Bungee', cursive;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: white;

}

h1{
	font-size: 100px;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 25px;
	color: white;
	position: relative;
	left: 1035px;
	top: -110px;
	max-width: 200px;
}

p{
	text-align: center;
}

.Marty span{background-color: red;}

.Doc span{background-color: blue;}

.Doc span,.Marty span{
	padding: 4px;
	margin: 3px;
	border-radius: 5px;
	width: auto;
	word-wrap: break-word;
	line-height: 5px;
}

.logo_chat{
	max-height: 100px;
	max-width: auto;
	border: 3px;
	border-color: white;
	border-style: solid;
	border-radius: 100%;
}

/* Animations */
@keyframes Message {

	from {
		transform: translateY(300px);
	}

	100% {
		transform: translateY(-225px);
	}
}

#animation_box{
	animation: Message 20s;
	animation-fill-mode: forwards;
	width: 100%;

}

@keyframes Zeus {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes ZeusRotate {
		from {
		transform: rotateZ(-3deg);
	}
	25% {
		transform: rotateZ(3deg);
	}
	50% {
		transform: rotateZ(-3deg);
	}
	75% {
		transform: rotateZ(3deg);
	}
	99% {
		transform: rotateZ(-3deg);
	}
	100% {
		transform: rotateZ(0deg);
	}

}

@keyframes blink {
		from{
			opacity: 1;
		}
		25%{
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
}

@keyframes lol {
		from{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
}


header{
	animation: ZeusRotate 1s;
	animation-delay: 2s
	animation-iteration-count: 10;
	animation-direction: alternate-reverse;
}

#doc_logo{
	height: 50px;
	margin: 2px;
}	

#marty_logo{
	height: 50px;
	margin: 2px;
}

#marty_box{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 0;
	align-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	padding: auto;
}

#chat-box-doc{
	width: 300px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	border: 3px white solid;
	border-top-left-radius: 40px;
	border-radius: 60px;
}

#chat-box-marty{
	width: 300px;
	background-color: red;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	border: 3px white solid;
	border-top-left-radius: 40px;
	border-radius: 60px;
}

#marty-message-box{
	width: 70%;
	height: auto;
}

.message{
	margin: 2px;
}

#chat_2{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 500px; 
	margin: auto;
	align-items: center;
}

#lien_animation{
	animation: blink 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
	animation-delay: 10s;
}

.anim_message_1{
	opacity: 0;
	animation: lol 3s;
	animation-delay: 2S;
	animation-fill-mode: forwards;
}

.anim_message_2{
	opacity: 0;
	animation: lol 3s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.anim_message_3{
	opacity: 0;
	animation: lol 3s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
}

.anim_message_4{
	opacity: 0;
	animation: lol 3s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
}

